@import '../../sass/mixin';
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
        height: 100%;
        margin-top: var(--height-header-pc) ;
        
    }

    @include mobile {
        height: 100%;
        margin-top: var(--height-header-mobile) ;
    }
}

.container {
    width: 65%;
    overflow: hidden;
    background-color: white;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 6px;
    padding: 30px;

    @include tablet {
        height: 400px;
        width: 90%;
        margin-bottom: 20px;
    }

    @include mobile {
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
        padding: 14px;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.header-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 14px;

    @include tablet {
        font-size: 2rem;
    }

    @include mobile {
        font-size: 1.8;
    }
}

.title {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    align-items: center;
    margin: 4px 0;

    svg {
        margin-left: 6px;
    }
}

.profile-info {
    display: flex;

    @include mobile {
        flex-direction: column;
    }
}
.content-left {
    width: 50%;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;

    @include mobile {
        width: 100%;
        border-right: none;
    }
}

.content-right {
    flex: 1;
    margin-left: 30px;

    @include mobile {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin: 10px auto;

    @include mobile {
        width: 160px;
        height: 160px;
    }
}

.input {
    width: 90%;
    outline: none;
    border: 1px solid var(--text-color);
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
    border-radius: 4px;

    &:focus {
        outline-color: var(--text-color);
    }
}

.update-btn,
.change-photo-btn {
    padding: 10px;
    min-width: 160px;
    font-size: 1.3rem;
    font-family: 600;
    color: #fff;
    background-color: var(--text-color);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s ease-in-out;
    margin-top: 12px;

    svg {
        margin-left: 6px;
    }

    &:hover {
        opacity: 0.9;
    }
}

.change-photo-btn {
    width: 160px;
    margin: 0 auto;
}
