@import '../sass/mixin';
.wrapper {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    padding: 32px 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: 1px solid rgba(56, 56, 56, 0.116);
    border-radius: 4px;
    background-color: var(--bg-color-header);

    @include tablet {
        width: 200px;
        padding: 20px;
    }

    @include mobile {
        width: 160px;
        padding: 14px;
    }
    & + .wrapper {
        margin-left: 16px;
    }
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;

    @include mobile {
        width: 70px;
        height: 70px;
    }
}

.name {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Roboto';
    color: #333;

    @include mobile {
        font-size: 1.2rem;
    }
}

.comment {
    font-size: 1.2rem;
    font-weight: 400;
}
